.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.shell {
  width: 80px;
  height: 80px;
  background-image: url(../public/shell.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  transition: all .3s ease-in;;

  &.opened {
    transform: translateY(-20px); 
  }
}

.shell-container {
  width: 96px;
}

.control-buttons {
  margin: 18px;

  button {
    margin: 0 6px;
    font-size: 20px;
  }
}

.playgound {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.input-group {
  display: flex;

  label {
    font-size: 20px;
    width: 170px;
    text-align: right;
    margin-right: 12px;
  }
}

.ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #cd9efd;
  border: #2d300d 1px solid;

  &.hidden {
    opacity: 0;
  }
}
